// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)



nav ul {
    display: flex;
    List-style: none;
}
nav ul li {
    font-size: 20px;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #dc6e62c3; 
}

pptt {
    color: #ecb165c7;
    opacity: 0.900;
}

jjj {
    color: #e3ccacc7;
    opacity: 0.900;
    font-style: italic;
}

abstr {
    color: #a09f9fc7;
    opacity: 0.900;
    font-size: 12px;
}


/** Links */
a { color: #dc6e62c3; text-decoration: none; }
a:visited { color: #dc6e62c3; }

// #8a2e3e; #dc6e53c3;